<% for(var i = 0; i < url.longUrl.length; i++){ %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= url.FileName[i] %></td>
    <td> <a href="<%= url.longUrl[i] %>">  <%= url.longUrl[i] %>  </a> </td>
    
</tr>
<% } %>

<input type="hidden" name="id" class="url_data" value="" data-id="<%= url._id %>" >
